ul {
  list-style: none;
}

body {
  margin: 0;
}

#main-wrapper {
  width: 100%;
}

#header {
  height: 139px;
  grid-column: 1;
  grid-row: 2;
  background-color: rgba(0,0,0,0.75);
  
}

.nav {
  /* z-index: 1; */
  display: grid;
  grid-template-rows: 33px 1fr;
  grid-template-columns: repeat(auto, 20px);
}

.carousel {
  grid-column: 1;
  grid-row: 2;
  z-index: -1;
}

.carousel img {
  max-width: 100%;
}

.top-nav {
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  height: 33px;
  background-color: #DDC9A3;
}


.top-header {
  height: 75px
}

.bottom-header {
  height: 64px
}

.brands ul {
  display: flex;
  justify-content: space-around;
  height: 75px;
  opacity: .5;
}

.brands li {
  height: 60px;
}

.brands img {
  max-height: 100%;
}

.sale-images {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
  max-width: 100%;
  padding-left: 10px;
}

.sale-images img {
  width: 80vh;
  height: 50vh;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}

.sale {
  display: flex;
  justify-content: center;
  width:100%;
  overflow: hidden;
}

