ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
}

h2 {
  font-family: 'Rozha One', serif;
}

#main-wrapper {
  width: 100%;
}

#header {
  height: 139px;
  grid-column: 1;
  grid-row: 2;
  background-color: rgba(0,0,0,0.75);
  
}

.nav {
  /* z-index: 1; */
  display: grid;
  grid-template-rows: 33px 1fr;
  grid-template-columns: repeat(auto, 20px);
}

.carousel {
  grid-column: 1;
  grid-row: 2;
  z-index: -1;
  height: 100vh;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  
}

.top-nav {
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  height: 33px;
  background-color: #DDC9A3;
  text-align: center;
}
.top-nav p {
  margin-top: 6px;
}

.top-header {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  height: 75px;
  margin: 0 40px 0 40px;
  border-bottom: 1px solid white;
  color: white;
}

.top-header input{
  border-radius: 30px;
  max-width: 673px;
  padding: 6px 35px 7px;
  width: 100%;
  height: 20px;
  align-self: center;
  font-size: 12;
}

.chat-phone {
  display: flex;
  align-items: center;
    min-width: 300px;
}

.chat-phone p {
  margin-left: 15px;

}

.name-cart {
  display:flex;
  align-items: center;
}

.t {
  border-radius: 50%;
  background-color: white;
  color: black;
  padding: 10px 12px 10px 12px;
  margin: 0 3px 0 10px;
}


.top-header-image img{
  height: 50px;
}

.top-header-image {
  padding: 8px;
}
.bottom-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 64px;
}

.brands {
  margin: 30px 0;
}

.brands ul {
  display: flex;
  justify-content: space-around;
  height: 75px;
  opacity: .5;
}

.brands li {
  height: 60px;
}

.brands img {
  max-height: 100%;
}

.sale-images {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
  max-width: 100%;
  padding-left: 10px;
}

.sale-text1:hover, .sale-text2:hover {
  cursor: pointer;
}
.sale-text1{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  color: white;
}

.sale-text2 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-row: 1;
  grid-column: 2;
  z-index: 1;
  color: white;
  
}

.sale-images h2 {
  font-size: 2rem;
  margin: 0;
}

.sale-images img {
  width: 80vh;
  height: 50vh;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}


.sale1, .sale2 {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.sale1 {
  grid-row: 1;
  grid-column:1;
}

.sale2 {
  grid-row: 1;
  grid-column:2;
}

.recommended-header {
  text-align: center;
  margin-bottom: 30px;
}


.product-grid {
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.product-grid {
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}



.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #f4f4f4;
  margin: 10px;
  opacity: .7;

}

.card:hover {
  border: 1px solid #666;
  cursor: pointer;
  opacity: 1;
}

.card-text {
  width: 100%;
  padding: 10px;
}

.card img {
  height: auto;
  max-width: 25vh;
}
.premium-header {
  text-align: center;
  margin-bottom: 30px;
}

.premium-header h2 {
  margin: 0;
}

.premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 150px;
  padding-top: 100px;
}

.premium-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.product-list p:nth-child(1){
  margin-bottom: 20px;
}

.help {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #c2c2c2;
  margin: 0 0 50px 0;
  padding: 100px;
}

.help input {
  border-radius: 30px;
}

.help p {
  margin: 6px 0 6px 0;
}

.need-help, .sticker, .in-the-know {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 35px;
  width: 147px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  margin: 0 0 150px 0;
}

.footer-image-box {
  height: 35px;
}

.footer-image-box img {

  max-height: 100%;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

/* misc */
.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.dot-active {
  margin: 0 5px 0 5px;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
}

.dot {
  margin: 0 5px 0 5px;
  width: 12px;
  height: 12px;
  background-color: black;
  opacity: .4;
  border-radius: 50%;
}

@media screen and (max-width: 1160px) {
  .product-grid {
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
}

@media screen and (max-width: 760px) {
  .product-grid {
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .product-grid {
    max-width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}




