ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
}

h2 {
  font-family: 'Rozha One', serif;
}

#main-wrapper {
  width: 100%;
}

#header {
  height: 139px;
  grid-column: 1;
  grid-row: 2;
  background-color: rgba(0,0,0,0.75);
  
}

.nav {
  /* z-index: 1; */
  display: grid;
  grid-template-rows: 33px 1fr;
  grid-template-columns: repeat(auto, 20px);
}

.carousel {
  grid-column: 1;
  grid-row: 2;
  z-index: -1;
  height: 100vh;
  overflow: hidden;
}

.carousel img {
  max-width: 100%;
  
}

.top-nav {
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  height: 33px;
  background-color: #DDC9A3;
}

.top-header {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  height: 75px;
  margin: 0 40px 0 40px;
  border-bottom: 1px solid white;
  color: white;
}

.top-header input{
  border-radius: 30px;
  max-width: 673px;
  padding: 6px 35px 7px;
  width: 100%;
  height: 20px;
  align-self: center;
  font-size: 12;
}

.chat-phone {
  display: flex;
  align-items: center;
    min-width: 300px;
}

.chat-phone p {
  margin-left: 15px;

}

.name-cart {
  display:flex;
  align-items: center;
}

.t {
  border-radius: 50%;
  background-color: white;
  color: black;
  padding: 10px 12px 10px 12px;
  margin: 0 3px 0 10px;
}


.top-header-image img{
  height: 50px;
}

.top-header-image {
  padding: 8px;
}
.bottom-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 64px;
}

.brands {
  margin: 30px 0;
}

.brands ul {
  display: flex;
  justify-content: space-around;
  height: 75px;
  opacity: .5;
}

.brands li {
  height: 60px;
}

.brands img {
  max-height: 100%;
}

.sale-images {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
  max-width: 100%;
  padding-left: 10px;
}

.sale-images img {
  width: 80vh;
  height: 50vh;
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}

.sale {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.recommended-header {
  text-align: center;
  margin-bottom: 30px;
}
.product-grid {
  height: 40vh;
  margin-bottom: 13vh;
}

.product-grid ul {
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-grid li {

}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #f4f4f4;
  margin: 10px;
}

.card img {
  height: auto;
  max-width: 25vh;
}
.premium-header {
  text-align: center;
}

.premium {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #c2c2c2;
}

.premium-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.help {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #c2c2c2;
  margin: 0 0 50px 0;
  padding: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  margin: 0 0 50px 0;
}

.footer-image-box {
  height: 35px;
}

.footer-image-box img {

  max-height: 100%;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}



